.bio-background {
  background-color: $chartruese;
}

.bio-title {
  position: relative;
  bottom: 10px;
  font-size: 40px;
  font-family: $title;
  font-weight: bold;
}

.bio-text {
  padding-top: 5px;
  padding-bottom: 20px;
  font-family: $text;
  font-size: 18px;
}

.bio-title, .bio-text {
  margin-left: 9.58904109589%;
  display: block;
  max-width: 80%;
  width: 600px;
}

.hannah-background {
  background-color: yellow;
}

.bio-link {
  color: $black;
  text-decoration: underline;
}

.bio-link:hover {
  text-decoration: none;
}

.image-div {
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: center;
}

.contact-container {
  margin: 0 auto;
  position: relative;
  bottom: 40px;
  right: 2px;
  background-color: yellow;
  padding: 2%;
  max-width: 365px;
}

.contact {
  font-family: $text;
  font-size: 18px;
}

.hannah {
  z-index: -1;
  height: 300px;
  width: auto;
}

@media only screen and (min-width: 730px) {

  .bio-title, .bio-text {
    margin-left: 70px;
    margin-right: 70px;
    display: block;
    max-width: 100%;
    width: 600px;
  }

  .image-div {
    padding-left: 70px;
    text-align: left;
  }

  .contact-container {
    margin: 0px;
    background-color: yellow;
  }

  .hannah {
    margin-left: 17px;
  }

}
